################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Authentication-clone/obj
/Authentication-clone/bin/Debug/net6.0
.vs
/logs
